{% if include_docs %}
site_name: "{{ project_name }}"
site_description: "{{ project_description }}"
repo_url: "https://github.com/{{ github_username }}/{{ project_slug }}"
repo_name: "{{ github_username }}/{{ project_slug }}"

theme:
  name: material

nav:
  - Home: index.md
  - CI and Codecov: ci.md

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
{% endif %}
